/*
* @Author: enzo
* @Date:   2016-02-29 18:37:54
* @Last Modified by:   enzo
* @Last Modified time: 2016-03-17 12:17:43
*/

$active: #e84a01;

.mod-find {
    font-size: 14px;
    display: none;
    color: #212121;

    .find-list>li {
        position: relative;
    }

    .find-second {
        display:none;
    }

    .list-item:hover,
    .find-point:hover,
    .item-hover {
        color:#{$active};
        text-decoration: underline;
        cursor:pointer;
    }

    .active {
        color: #{$active};
        font-weight: bold;
    }

    .arrow-top {
        border: none;
        position: absolute;
        margin-left: -50%;
        top: 28px;
        display: none;
    }

    .arrow-top:after {
        margin-bottom: -1px;
    }

    .arrow-top:before {
        margin-bottom: -1px;
        border-bottom-color: #dedede;
    }

    .arrow-top:after {
        border-bottom-color: #f5f5f5;
    }

    .letter {
        font-size: 14px;
        color: #3B5898;
        margin-left: -3px;
    }
}