<ul class="find-list">
    <li class="list-item {{if list}}active{{/if}}" data-id="all" {{if type == 'school'}} data-g="6" {{/if}}>全部</li>
    
    {{each data as item i}}
        {{if type == 'area'}}
            <li class="list-item" data-id="{{item.id}}" data-gid="{{g+item.id}}" data-g="{{g}}" data-lon="{{item.lon}}" data-lat="{{item.lat}}" data-name="{{item.name}}" data-lv="1">{{item.name}}<span class="arrow-top"></span></li>
        {{ /if }}

        {{if type == 'line'}}
            <li class="list-item" data-id="{{item.id}}" data-gid="{{g+item.id}}" data-g="{{g}}" data-name="{{item.name}}">{{item.name}}<span class="arrow-top"></span></li>
        {{/if}}

        {{if type == 'school'}}
            <li class="list-item" data-id="{{item.id}}" data-gid="{{g+item.id}}" data-g="{{g}}" data-name="{{item.name}}">{{item.name}}<span class="arrow-top"></span></li>
        {{/if}}
    {{/each}}
</ul>