<div class="mod-find single">
    <!-- <span class="arrow-top"></span> -->
    <div class="find-first">
        <div class="list-content mod-border-box">
             <div class="scrollbar">
                <div class="track">
                    <div class="thumb"> </div>
               </div>
             </div>
            <div class="viewport">
               <div class="overview list-wrap"></div>
            </div>
        </div>
    </div>
    <div class="find-second">
        <div class="list-content mod-border-box">
             <div class="scrollbar">
                <div class="track">
                    <div class="thumb"> </div>
               </div>
             </div>
            <div class="viewport">
               <div class="overview list-wrap"></div>
            </div>
        </div>
    </div>
</div>