<ul class="find-list {{if type == 'area'}} area-list {{else}} line-list {{/if}}">
    <li class="all">
        <i class="{{if acid == ''}} active {{/if}} find-point" data-id="all" data-pid="{{prtId}}">全部</i>
        </li>
    {{each data as item i}}
        <li>
        {{if type == 'area'}}
            <span class="letter">{{item.letter}}</span>
            {{each item.towns as towin i}}
                <i class="find-point {{if acid == towin.id && cg == g}} active {{/if}}" data-id="{{prtId}}" data-gid="{{g+prtId}}" data-stitle="0" data-name="{{prtName}}" data-cid="{{towin.id}}" data-cname="{{towin.name}}" data-lon="{{towin.lon}}" data-lat="{{towin.lat}}" >{{towin.name}}</i>
            {{/each}}
        {{/if}}

        {{if type == 'line'}}
            <i class="find-point {{if acid == item.id && cg == g}} active {{/if}}" data-id="{{prtId}}" data-gid="{{g+prtId}}" data-stitle="1" data-g="5" data-name="{{prtName}}" data-cid="{{item.id}}" data-cname="{{item.name}}" data-lon="{{item.lon}}" data-lat="{{item.lat}}">
                {{item.name}}
            </i>
        {{/if}}

        {{if type == 'school'}}
            <i class="find-point {{if acid == item.id && cg == g}} active {{/if}}" data-id="{{prtId}}" data-gid="{{g+prtId}}" data-stitle="2" data-name="{{prtName}}" data-cid="{{item.id}}" data-cname="{{item.name}}" data-lon="{{item.lon}}" data-lat="{{item.lat}}">
                {{item.name}}
            </i>
        {{/if}}
        </li>
    {{/each}}
</ul>