/*
* @Author: enzo
* @Date:   2016-03-08 17:57:05
* @Last Modified by:   liyaping
* @Last Modified time: 2016-06-16 16:03:38
*/

.mod-ftools {
    // background-color: #fafafa;
    // border-top: 1px solid #dedede;
    // height: 56px;
    // line-height: 56px;
    // margin: 24px -32px -20px -32px;
    // display: none;
    .ftools-dt,
    .ftools-dd,
    .ftools-follow,
    .ftools-remove {
        white-space: nowrap;
        display: inline-block;
    }
    .ftools-dt,
    .ftools-dd {
        // display: inline;
        font-size: 14px;
        padding: 3px 8px;
        color: #212121;
    }
    .iconfont {
        top: -1px;
        font-size: 14px;
    }
    .ftools-follow {
        display: none;
        cursor: pointer;
        margin-right: 12px;
        color: #265db6;
        font-size: 14px;
        padding-right: 12px;
        .iconfont {
            color: #265db6;
            margin-right: 4px;
        }
        &.hide {
            display: none;
        }
    }
    .ftools-remove {
        // display: inline;
        cursor: pointer;
        font-size: 14px;
        .iconfont {
            color: #757575;
            font-weight: normal;
        }
    }
    .ftools-dt {
        padding-left: 30px;
    }
    .ftools-dd {
        border: 1px solid #bdbdbd;
        margin-right: 16px;
        border-radius: 2px;
        cursor: pointer;
        background: #fff;
        line-height: 16px;

        .iconfont {
            color: #616161;
            margin-left: 4px;
        }
        .title {
            color: #212121;
        }
    }
}

.mine-follow-suc {
    position: absolute;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #e84a01;
    font-size: 16px;
    transition: top 1s;
    &.animate {
        top: -15px;
    }
}
