<ul class="mod-ftools">
    <li class="ftools-dt">已选条件</li>
    {{each data as item}}
      <li data-alias="{{item.alias}}" data-bv="{{if item.bv }}{{item.bv}}{{/if}}" class="ftools-dd">
        <i data-type="" class="title">
          {{if item.title}}{{item.title}}: {{/if}}
        </i><span class="search-name">{{item.txt}}</span><i class="iconfont fo-del">&#xd617;</i>
      </li>
    {{/each}}
    <li data-type="follow" class="ftools-follow has-line-right {{if !canFollow}}hide{{/if}}"><i class="iconfont if-heart"></i>关注该条件</li>
    <li data-type="remove" class="ftools-remove"><i class="iconfont">&#xd618;</i>清空</li>
</ul>