/**
 * Created by zyy on 15/5/8.
 * zhangyuyu@superjia.com
 */


/*页脚*/

.mod-footer {
    width: 100%;
    min-width: 1190px;
    background: #fff;
    border-top: 1px solid #E6E6E6;
    margin-top: -247px;
}
.footer-inner{
    margin-left:auto;
    margin-right: auto;
    width: 1190px;
    clear: both;
    height: 100%;
}

.short-shift {
    margin-top: -184px;
}

.mod-footer .footer-nav {
    font-weight: bold;
}

.footer-top{

}
.footer-t-l{
    width: 954px;
    float: left;
}
.footer-t-r{
    float: right;
    width: 150px;
}
.footer-t-nav{
    padding-top: 40px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E6E6E6;
}
.footer-point{
    width: 4px;
    height: 4px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 3px;
}
.footer-point .footer-p-t{
    display: inline-block;
    float: left;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid;
    border-color: transparent transparent #BDBDBD transparent;
}
.footer-point .footer-p-b{
    display: inline-block;
    float: left;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #BDBDBD transparent transparent transparent;
}
.footer-nav-item{
    display: inline-block;
    line-height: 20px;
    height: 20px;
    font-size: 16px;
    padding-left: 18px;
    padding-right: 22px;
    position: relative;
}
.footer-nav-item.first{
    padding-left: 0;
}
.footer-t-mid{
    padding-top: 24px;
}
.footer-t-bot{
    padding-top: 24px;
    padding-bottom: 40px;
}
.footer-bottom{
    background-color: #F5F5F5;
}
.footer-b-link{
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 28px;
    color: #BDBDBD;
}
.footer-b-item{
    padding-right: 8px;
    white-space: nowrap;
    color: #BDBDBD;
    font-weight: 400;
}
.footer-t-m-item{
    padding-right: 24px;
}
.footer-t-m-item-copy{
    font-weight: bold;
}
.footer-copy{
    font-weight: normal;
}
.footer-t-m-item .iconfont{
    color: #4A4A4A;
}
.footer-t-m-item:hover{
    text-decoration: none;
}
.footer-t-m-item.last{
    padding-right: 0;
}
.footer-wechat{
    position: relative;
}
.footer-wechat b{
    position: absolute;
    width: 226px;
    height: 230px;
    top: -230px;
    left: -101px;
    cursor: default;
    display: none;
    z-index: 10000;
}
.footer-wechat:hover b{
    display: block;
}
.footer-t-b-item{
    padding-right: 32px;
}
.footer-t-b-item.last{
    padding-right: 0;
}
.footer-t-r{
    padding-top: 32px;
}
.footer-t-r .footer-qrcode{
    width: 140px;
    height: 140px;
}

.record-img{
    height: 16px;
    width: 16px;
    position: relative;
    top: -1px;
}
