lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
*.class
classes
.settings
.classpath
.project
test
*.properties
.happypack
*.swp

dist
pids
logs
.idea
dist

npm-debug.log
node_modules

target/*

gulpfile.js
tmpZipFolder
.sass-cache

test.html

build/comlib/
build/config.json
config.json
