/*
* @Author: yuqy
* @Date:   2016-11-10 10:27:52
 * @Last Modified by: yuqy
 * @Last Modified time: 2016-11-21 14:03:25
*/
@import 'sass/base/index.scss';
.small-img-wrap{
    position:relative;
    width: 100%;
    margin-top: 4px;
    .small-img-ul{
        position: absolute;
        width: 9999px;
        height: 100%;
    }
    .small-img-li{
        cursor: pointer;
        float: left;
        overflow: hidden;
        border: 1px solid #fff;
        position: relative;
        /*margin: 0 0 4px 4px;*/
        &:hover{
            border-color: $cl-iwjw-base;
        }
        &.current{
            border-color: $cl-iwjw-base;
        }
    }
    .small-img{
        width: 100%;
    }
    //小图切换箭头样式
    .switch-s-img{
        position: absolute;
        width: 32px;
        height:100%;
        cursor: pointer;
        opacity: 0.8;
        filter: alpha(opacity=80);
        background: #fff;
        top: 0;
        .iconfont{
            color:$cl-75; 
            font-size: 24px;
            text-align: center;
            display: block;
            height: 100%;
            line-height: 60px; /*TODO*/
        }
        &:hover{
            .iconfont{
                color: $cl-iwjw-base;
            }
        }
    }
    .switch-s-left{
        left: 0;
    }
    .switch-s-right{
        right: 0;
    }
    .simgs-icon-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        background: #000000\0\9;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
        .simgs-video-icon{
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -16px;
            margin-top: -17px;
        }
        .simgs-panaroma-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -21px;
            margin-top: -13px;
            width: 42px;
            height: 22px;
        }
    }
    //毛玻璃效果
    .simgsVideo{
        -webkit-filter: blur(5px);
        /* Chrome, Opera */
        -moz-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}