{{if tplType == "houseinfo"}}
    <i class="mod-houseinfo-unit"><em class="bedroom-num">{{house.bedroomSum}}</em>室<em class="liveroom-num">{{house.livingRoomSum}}</em>厅<em class="wc-num">{{house.wcSum}}</em><em class="wc-text">卫</em></i
    ><i class="mod-houseinfo-area"><em class="space-area">{{house.spaceArea}}</em>m²</i
    >{{if house.houseType == 1}}{{if house.decorateTypeStr}}<i class="mod-houseinfo-floor">{{house.decorateTypeStr}}</i>{{/if}}{{else}}<i class="mod-houseinfo-floor">{{house.unitPrice}}</i>{{/if}}

{{else if tplType == "houseimg"}}
    <a href="/{{house.houseDetailUrl}}" alt="{{house.estateName}}" class="house-a" {{if options.isBlank}}target="_blank"{{/if}}>
        <img src="{{loadImg}}" data-src="{{house.picUrl}}" class="house-img">
        {{if house.invalMask}}<em class="inval-mask"></em>{{/if}}
        {{if options.invalTag || house.invalTag}}
          <em class="inval-status">已{{if house.houseType == 1}}租出{{else}}售出{{/if}}</em>
      {{else}}

          {{if house.hasVideo}}
            {{if house.videoType == 1}}
            <i class="panaroma-play-icon-xs">
                <img src="{{staticUrl + 'img/common/panaroma_play_sm.png'}}" />
            </i>
            {{else}}
            <em class = "video-btn">
            <img src = "{{videoImg}}"></em>
            {{/if}}
          {{/if}}

          {{if !options.dellabel}}
            {{#house | houseDJLabel}}
          {{/if}}
       {{/if}}
   </a>
{{/if}}

{{if tplType == "customScroll"}}
  <div class="custom-scroll {{wrapClass}}">
    <div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
    <div class="viewport">
        <div class="overview {{overviewClass}}">{{#contentTpl}}</div>
    </div>
  </div>
{{/if}}

{{if tplType == "wxshare"}}
<div class="wx-share">
    <div class="title">转发</div>
    <div class="content clearfix">
        <div class="left">
            <img src="{{urlStr}}">
            <div class="wx-share-intro">
            通过<span class="iconRed">爱屋吉屋APP</span>或<span class="iconRed">微信</span><br/>扫描二维码,获取{{estate}}信息
            </div>
        </div>
        <div class="right">
            <ul>
                <li>
                    <img src="{{step1Img || wxStep1Img}}">
                    <h5>APP扫描二维码</h5>
                </li>
                <li>
                    <img src="{{step2Img || wxStep2Img}}">
                    <h5>微信扫描二维码</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
{{/if}}