/**
 * Created by zyy on 15/6/10.
 * zhangyuyu@superjia.com
 */
@import 'sass/module/tag.scss';
@import 'sass/module/weixin_share.scss';
@import 'sass/module/tinyscrollbar_com.scss';
@import 'sass/module/house_dj_label.scss';
#iwjw {
    min-height: 100%;
}

#iwjw .iwjw-wrap {
    padding-bottom: 247px;
}

#iwjw.short-footer .iwjw-wrap {
    padding-bottom: 184px;
}

select {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 80px;
    background: #fff;
    line-height: 30px;
    *margin-top: 4px;
    padding: 4px
}

textarea,
input[type=text],
input[type=tel],
input[type=password] {
    color: #686e71;
    /*width: 238px;*/
    height: 20px;
    line-height: 20px;
    border: 1px solid #dedede;
    padding: 5px 6px;
    background-color: #fff;
    border-radius: 2px
}

textarea {
    height: 90px
}

textarea:hover,
input:hover,
select:hover {
    border-color: #686e71
}

textarea:focus,
input:focus,
select:focus {
    border-color: #686e71;
    color: #212121
}

textarea[readonly],
input[readonly],
select[readonly] {
    border-color: #ccc;
    background-color: #f5f5f5;
    color: #bdbdbd
}

textarea {
    resize: none;
    height: 60px
}

.cl-333 {
    color: #212121;
}

.cl-666 {
    color: #757575;
}

.cl-999 {
    color: #bdbdbd;
}

.main-layout {
    margin: 0 auto;
    width: 960px;
    clear: both;
    position: relative;
}

.block {
    margin-top: 10px;
}

.block .block-left,
.block .block-right {
    display: inline-block;
    vertical-align: middle;
}

.iconfont {
    vertical-align: middle;
    position: relative;
    // color: #4a4a4a;
}

.bd-gray {
    border: 1px solid #ddd;
}

.error {
    color: #e84a01;
}

.unselectable {
    -ms-user-select: none;
    /* IE 10+ */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/*弹出收藏提示*/

.tipDiv {
    position: relative
}

.colTip {
    position: absolute;
    border: 1px solid #eee;
    color: #212121;
    background: #fff;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    top: -40px;
    left: 50%;
    margin-left: -30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.colTip .favor-wrap {
    position: relative;
}

.gicon-favor {
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 10px;
    height: 8px;
    margin-left: -5px;
    background-position: -320px 0;
}

.qxsc {
    width: 90px;
    margin-left: -45px;
}


/*学区,地铁,唯一,满二*/

.school,
.subway,
.gtFive,
.only {
    width: 28px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 2px;
    margin-right: 6px;
    border: 1px solid #72cbbd;
    color: #72cbbd;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}

.subway {
    border-color: #d9aeb5;
    color: #d9aeb5;
}

.gtFive {
    border-color: #6caad5;
    color: #6caad5;
}

.only {
    border-color: #bdb17c;
    color: #bdb17c;
}

// .fe-school,
// .fe-subway,
// .fe-year,
.fe-owner
 {
    height: 20px;
    padding: 0 6px;
    /*text-align: center;*/
    line-height: 20px;
    // border-radius: 2px;
    margin-right: 8px;
    color: #438d5e;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    border: 1px solid #438d5e;
}

.fe-subway {
    // border-color: #7f4299;
    // color: #7f4299;
}

.fe-year {
    // border-color: #4d93cd;
    // color: #4d93cd;
}

.fe-owner {
    border-color: #e84a01;
    background-color: #e84a01;
    color: #fff;
    position: relative;
    padding-left: 22px;
}

.fe-owner .iconfont {
    font-size: 11px;
    display: inline-block;
    width: 20px;
    background-color: #fff;
    color: #e84a01;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 2px 0 0 2px;
}

.GrayB {
    background: #ccc;
}

/*列表独家*/

.hPic {
    position: relative;
    display: block;
}

.hPic img {
    display: block;
}

.hPic > i {
    position: absolute;
}

.dj {
    display: none;
}

.hPic .dj {
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
}

.hPic i img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.hPic i img.v-play-pana {
    bottom: 2px;
}

/*价格*/
.price {
    position: relative;
    top: 1px;
}

.iconGray {
    color: #d0d0d0
}

.iconHighGray {
    color: #9b9b9b
}

.iconRed,
.fo-red {
    color: #e84a01
}


/*css3 loading 圆圈*/
.loading {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    /* 圆角 */
    box-shadow: 8px 0px #fff, /* 右 */
    -8px 0 #fff, /* 左 */
    -4px -7px 0 .4px #fff, /* 左上, 0.5px扩展 */
    4px -7px 0 1.2px #fff, /* 右上, 1.5px扩展 */
    4px 7px #fff, /* 右下 */
    -4px 7px #fff;
    /* 左下 */
}

.spin {
    -webkit-transform: rotate(360deg);
    -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.spin {
    transform: rotate(360deg);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*css3 loading 竖条*/

.spinner {
    height: 30px;
    width: 30px;
    position: relative;
    display: inline-block;
    top: 10px;
}

.spinner div {
    width: 7%;
    height: 20%;
    background-color: #fff;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    border-radius: 30%;
    -webkit-animation: fade 1s linear infinite;
    -moz-animation: fade 1s linear infinite;
    -o-animation: fade 1s linear infinite;
    -ms-animation: fade 1s linear infinite;
    animation: fade 1s linear infinite;
}

.spinner div.bar1 {
    transform: rotate(0deg) translate(0, -142%);
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
}

.spinner div.bar2 {
    transform: rotate(30deg) translate(0, -142%);
    -webkit-animation-delay: -0.9167s;
    -moz-animation-delay: -0.9167s;
    -o-animation-delay: -0.9167s;
    -ms-animation-delay: -0.9167s;
    animation-delay: -0.9167s;
}

.spinner div.bar3 {
    transform: rotate(60deg) translate(0, -142%);
    -webkit-animation-delay: -0.833s;
    -moz-animation-delay: -0.833s;
    -o-animation-delay: -0.833s;
    -ms-animation-delay: -0.833s;
    animation-delay: -0.833s;
}

.spinner div.bar4 {
    transform: rotate(90deg) translate(0, -142%);
    -webkit-animation-delay: -0.75s;
    -moz-animation-delay: -0.75s;
    -o-animation-delay: -0.75s;
    -ms-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

.spinner div.bar5 {
    transform: rotate(120deg) translate(0, -142%);
    -webkit-animation-delay: -0.667s;
    -moz-animation-delay: -0.667s;
    -o-animation-delay: -0.667s;
    -ms-animation-delay: -0.667s;
    animation-delay: -0.667s;
}

.spinner div.bar6 {
    transform: rotate(150deg) translate(0, -142%);
    -webkit-animation-delay: -0.5833s;
    -moz-animation-delay: -0.5833s;
    -o-animation-delay: -0.5833s;
    -ms-animation-delay: -0.5833s;
    animation-delay: -0.5833s;
}

.spinner div.bar7 {
    transform: rotate(180deg) translate(0, -142%);
    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    -ms-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.spinner div.bar8 {
    transform: rotate(210deg) translate(0, -142%);
    -webkit-animation-delay: -0.41667s;
    -moz-animation-delay: -0.41667s;
    -o-animation-delay: -0.41667s;
    -ms-animation-delay: -0.41667s;
    animation-delay: -0.41667s;
}

.spinner div.bar9 {
    transform: rotate(240deg) translate(0, -142%);
    -webkit-animation-delay: -0.333s;
    -moz-animation-delay: -0.333s;
    -o-animation-delay: -0.333s;
    -ms-animation-delay: -0.333s;
    animation-delay: -0.333s;
}

.spinner div.bar10 {
    transform: rotate(270deg) translate(0, -142%);
    -webkit-animation-delay: -0.25s;
    -moz-animation-delay: -0.25s;
    -o-animation-delay: -0.25s;
    -ms-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.spinner div.bar11 {
    transform: rotate(300deg) translate(0, -142%);
    -webkit-animation-delay: -0.1667s;
    -moz-animation-delay: -0.1667s;
    -o-animation-delay: -0.1667s;
    -ms-animation-delay: -0.1667s;
    animation-delay: -0.1667s;
}

.spinner div.bar12 {
    transform: rotate(330deg) translate(0, -142%);
    -webkit-animation-delay: -0.0833s;
    -moz-animation-delay: -0.0833s;
    -o-animation-delay: -0.0833s;
    -ms-animation-delay: -0.0833s;
    animation-delay: -0.0833s;
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@-moz-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@-o-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@-ms-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}


/*单选和复选框的样式*/

.mod-check-box em.iconfont {
    font-size: 14px;
}

.need-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}


/*灰色按钮*/

.btn-gray {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 2px;
    padding: 0 14px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    color: #212121
}

.btn-gray:hover {
    text-decoration: none;
    border-color: #bdbdbd;
    background: #fff
}

.btn-gray[disabled] {
    background: #d3d5d9
}

h3 .btn-gray {
    font-size: 14px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: 14px;
    right: 0;
    padding: 0 20px
}


/*无内容*/

.no-content {
    border: 1px dashed #ddd;
    margin-bottom: 30px;
    text-align: center;
    padding: 26px 0;
    color: #bdbdbd
}

.no-content h4 {
    color: #212121;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold
}

.no-content button {
    display: block;
    margin: 20px auto 0;
    width: 240px
}

/*房源图片、独家、视频标识*/
.house-a {
    position: relative;
    display: block;
}

.house-img {
    display: block;
    width: 100%;
    height: 100%;
}

.video-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 50%;
    margin: -24px 0 0 -24px;
}
.para-video-btn{
    width: 40px;
    height: 22px;
    margin: -11px 0 0 -20px;
}

.house-dj {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    /*height: 48px;*/
    display: none;
}

.house-dj img {
    display: block;
    width: 100%;
}

// .fe-sign,
// .fe-sourceuser {
//     position: absolute;
//     background-size: 100%;
//     width: 64px;
//     height: 20px;
//     display: none;
//     left: 0px;
//     top: 4px;
//     z-index: 10;
//     background-repeat: no-repeat;
//     opacity: 0.85;
//     background-image: url(./mark.png);
// }

// .fe-sign.djmark {
//     background-position: -3px -1px;
// }

// .fe-sourceuser.djmark {
//     background-position: -3px -23px;
// }

/*播放按钮*/
.videoBtn {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 10px;
    bottom: 10px;
    margin: -24px 0 0 -24px;
    // display: none;
}

.videoBtn img {
    width: 100%
}

.video-btn img {
    width: 100%
}

@mixin center-icon($width,$height){
    position: absolute;
    display: inline-block;
    width:$width;
    height:$height;
    left:50%;
    top:50%;
    margin-top:- $height/2;
    margin-left:- $width/2;
    background-size:cover;
    >img{
        width:100%;
        height:100%;
    }
}

.video-play-icon-sm{
   @include center-icon(32px,32px);
}

.panaroma-play-icon-lg{
    @include center-icon(128px,38px);
    background-image: url("../img/panaroma_play_lg.png");
}

.panaroma-play-icon-sm{
    @include center-icon(98px,30px);
    background-image: url("../img/panaroma_play_sm.png")
}

.panaroma-play-icon-xs{
    @include center-icon(49px,15px);
}


/*.videoBtn:hover{filter:Alpha(opacity=90);opacity:0.9;}*/

/*iehack*/

// .fe-sign.djmark {
//     background-position/*\**/
//     : -13px -344px\9;
// }

// .fe-sourceuser.djmark {
//     background-position/*\**/
//     : -13px -314px\9;
// }

/*iehack*/
// .fe-sign.djmark-small {
//     height: 16px;
//     background-position: -3px -4px;
// }

// .fe-sourceuser.djmark-small {
//     height: 16px;
//     background-position: -3px -23px;
// }

// .fe-sign.djmark-reverse {
//     background-position: 3px -52px;
// }

// .fe-sourceuser.djmark-reverse {
//     background-position: 3px -72px;
// }

.g-fence>span {
    position: relative;
    padding-right: 12px;
    font-size: 14px;
    padding-left: 15px;
}

.g-fence>span:after {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    border-right: 1px solid #757575;
    right: 0;
    position: absolute;
    top: 1px;
}

.g-fence>span:first-child {
    padding-left: 0
}

.g-fence>span:last-child:after {
    border: none;
}

.collect-tip {
    position: absolute;
    font-size: 12px;
    left: 50%;
    width: 74px;
    margin-left: -37px;
    z-index: 1000;
    text-align: center;
    border-radius: 4px;
    height: 25px;
    line-height: 25px;
    background: #a0a8b1;
    background: rgba(116, 126, 137, 0.7);
    color: #fff;
    top: -35px;
}

.del-tip {
    width: 90px;
    margin-left: -45px;
}

.collect-tip.arrow-bottom:before {
    border-width: 5px;
    margin-left: -5px;
}

.collect-tip.arrow-bottom:after {
    border-width: 4px;
    margin-left: -4px;
    border-top-color: #a0a8b1;
    border-top-color: rgba(116, 126, 137, 0.7);
}

.collect-tip .favor-wrap {
    white-space: nowrap;
}

.mod-border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.has-line-left {
    position: relative;
    &:before {
        content: '';
        display: inline-block;
        border-left: 1px solid #dedede;
        position: absolute;
        top: 50%;
        left: 0;
        height: 14px;
        margin-top: -7px;
    }
}

.has-line-right {
    position: relative;
    &:before {
        position: absolute;
        content: '';
        display: inline-block;
        border-left: 1px solid #dedede;
        top: 50%;
        right: 0;
        height: 14px;
        margin-top: -7px;
    }
}
