{{if type == 'send-coupon'}}
  <div class="send-coupon">
    <div class="card-img"></div>
    <p class="card-slogan"><i class="strong">漏水、高压线、物业</i>等问题再也不用担心了！</p>
    <dl class="sweep-code">
      <dt class="sweep-tips">扫一扫下载APP可获得服务卡</dt>
      <dd class="qr-code"><img src="{{qrcodeimg}}" class="qrcode-img"></dd>
    </dl>
  </div>
{{/if}}
{{if type == 'commission-discount'}}
<div class="act-wrap">
    <div class="act-img-wrap">
        <div class="act-img"></div>
    </div>
    <p class="act-text bold">恭喜你获得二手房佣金8折卡</p>  
    <p class="swap-app">扫一扫 下载APP立即激活</p>  
    <div class="qrcode-wrap">
        <img src={{qrcode}} class="act-qr-code">
    </div>
</div>
{{/if}}