$height:36px;
$hover-bg:#f7f7f7;
$main-color:#265db6;
$co-red:#e84a01;
$co-gray-normal:#212121;
$co-gray-light:#757575;
$co-white:#fff;
$border-color-normal:#dedede;
$border-color-light:#f2f2f2;
$border-nomal: 1px solid $border-color-normal;
$co-icon:#616161;

.ui-filter {
    white-space: nowrap;
    vertical-align: middle;

    .iconfont {
        color: $co-icon;
    }

    .filter-select {
        position: relative;
        padding: 0 26px 0 8px;
        min-width: 41px;
        height: $height;
        line-height: $height;
        border-right: $border-nomal;
        display: inline-block;
        vertical-align: middle;

        &:hover {
            .filter-opts {
                display: block;
            }
        }
        &.selected {
            .if-triangle-down {
                color: $co-red;
            }
        }
    }

    .filter-select {

        &:first-child {
            border-left: $border-nomal;
        }
    }

    .filter-dl{

        &:hover {
            cursor: default;
        }

        dd {
            display: inline;
        }
        .iconfont {
            font-size: 12px;
        }
        .filter-num {
            margin-left: 4px;
        }
        .filter-icon {
            position: absolute;
            right: 8px;
            top: 0;
        }
    }

    .filter-dt {
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .filter-opts {
        position: absolute;
        background: $co-white;
        border: $border-nomal;
        top: $height;
        left: -1px;
        width: 110px;

        &.arrow-top {
            &:after,
            &:before {
                left: 12px;
            }
        }
    }

    .filter-more {
        .filter-opts {
            padding: 10px 0 0 60px;
            width: 346px;
            right: -1px;
            left: auto;
        }
        .filter-item {
            border-top: none;
            white-space: nowrap;
            display: inline-block;
            width: 78px;
            margin-right: 8px;
            text-indent: 0;

            &:hover {
                background: none;
            }
        }
        .filter-more-item-wrap {
            white-space: normal;
        }
        .filter-more-label {
            position: absolute;
            left: -48px;
            top: 0;
            color: $co-gray-light;
        }
    }

    .filter-single{
        .filter-item {
            &.checked {
                color: $co-red;
            }
        }
    }

    .filter-item {
        list-style: none;
        line-height: $height;
        text-indent: 8px;
        cursor: pointer;
        border-top: 1px solid $border-color-light;

        &:hover {
            background: $hover-bg;
            cursor: pointer;
            color: #e84a01;
        }
        &:first-child {
            border-top: 0;
        }
        .iconfont {
            color: $co-icon
        }
    }

    .checkbox-item {
        color: $co-gray-normal;

        .iconfont {
            padding: 0;
            top: -1px;
            margin-right: 6px;
            font-size: 14px;
        }

        &.checked {
            .iconfont {
                color: $co-red;
            }
        }
    }

    .filter-custom{
        .custom-input {
            padding: 0;
        }
        .input-delimiter{
            display: inline-block;
            width: 10px;
            height: 1px;
            background: #212121;
            position: relative;
            top: -2px;
        }
        .custom-input,
        .custom-btn {
            border: 1px solid #bdbdbd;
            width: 42px;
            height: 22px;
            line-height: 22px;
        }
        .custom-btn {
            border: 1px solid $main-color;
            color: $main-color;
            background: $co-white;
        }
    }
}


// .map-rent {
//     .ft-ip {
//         .filter-opts {
//             width: 120px;
//         }
//     }
//     // .filter-select {
//     //     padding: 0px 8px;
//     // }
// }

// .screen-s {
//     .filter-dt,
//     .filter-dl dd {
//         display: inline-block;
//         vertical-align: middle;
//     }
//     .filter-dt {
//         width: 28px;
//     }
// }
