{{if tplType == "filter"}}
  <div class="ui-filter">
    {{each data as item i}}
        {{if item.alias != 'ia'}}
        <div class="filter-select filter-{{item.style}} ft-{{item.alias}}"  data-alias = "{{item.alias}}">
            {{if item.name == "more"}}
            <div class="filter-opts hide">
                {{if ht == 2}}
                <ul class="p-r clearfix ft-ia"  data-alias="ia">
                    <li class="filter-more-label">面积: </li>
                    <li class="filter-more-item-wrap">
                        <input type="text" maxlength="4" name="sa" class="custom-input" value=""> -
                        <input type="text" maxlength="4" name="ea" class="custom-input" value=""> m²
                        <button class="custom-btn" type="button" data-parent='ia'>确定</button>
                    </li>
                </ul>
                {{/if}}
                {{each item.values as child }}
                   <ul class="p-r clearfix filter-{{child.style}} ft-{{child.alias}}"  data-alias="{{child.alias}}">
                    <li class="filter-more-label">{{child.text}}:</li>
                    <li class="filter-more-item-wrap">
                     {{each child.values as scchild}}
                         <label data-value="{{scchild.key}}" class="filter-item {{if child.style=='single'}} select-item {{else}} checkbox-item{{/if}} {{if scchild.txt == '学区房'}}filter-school{{/if}}{{if scchild.txt == '地铁房'}}filter-subway{{/if}}">
                          {{if child.style == "multi"}}<i class="iconfont if-box"></i>{{/if}}{{scchild.txt}}</label>
                     {{/each}}
                   </li>
                   </ul>
                 {{/each}}
            </div>
            {{else}}
                <ul class="filter-opts hide">
                {{each item.values as value i}}
                   <li data-value="{{value.key}}" class="filter-item {{if item.style=='single'}} select-item {{else}} checkbox-item {{/if}}">
                       {{if item.style=="multi"}}<i class="iconfont if-box"></i>{{/if}}{{value.txt}}
                   </li>
                {{/each}}
                </ul>
            {{/if}}
            <dl class="filter-dl">
                <dt data-txt="{{item.text}}" class="filter-dt">{{item.text}}</dt>
                {{if item.style != 'single' && item.alias != 'more'}}<dd class="filter-num"></dd>{{/if}}
                <dd class="filter-icon"><i class="iconfont if-triangle-down"></i></dd>
            </dl>
      </div>
      {{/if}}
    {{/each}}
    </div>
{{/if}}