<a class="iwjw-logo" href="/">
    <img src="{{logo}}" alt="爱屋吉屋"/>
</a>
<dl class="alter-box">
    <dt class="alter-header"><span>{{currentBusiness}}</span><i class="iconfont">&#xd619;</i></dt>
    <dd class="alter-down-list arrow-top">
        <ul>
            <li class="list-item"><a href="/" class="map-homepage"><i class="iconfont">&#xd416;</i><span>首页</span></a></li>
            {{if hasSale}}
            <li class="list-item"><a href="/sale/map/" class="map-sale"><i class="iconfont">&#xd416;</i><span>二手房</span></a></li>
            {{/if}}

            {{if hasNew}}
            <li class="list-item"><a href="/newhouse/{{currentCityPy}}/" class="newhouse-list"><i class="iconfont">&#xd416;</i><span>新房</span></a></li>
            {{/if}}

            {{if hasRent}}
            <li class="list-item"><a href="/chuzu/map/" class="map-chuzu"><i class="iconfont">&#xd416;</i><span>租房</span></a></li>
            {{/if}}
            <li class="list-item"><a href="/service/" class="map-service"><i class="iconfont">&#xd416;</i><span>业主委托</span></a></li>
            <li><div class="alter-city province">城市：<span>{{currentCity}}</span><i class="iconfont f-r">&#xd628;</i></div></li>
        </ul>
    </dd>
</dl>

<ul>
    <li><a href=""></a><i></i></li>
</ul>