/*
* @Author: zhuxy
* @Date:   2016-01-12 14:20:53
* @Last Modified by:   enzo
* @Last Modified time: 2016-03-22 18:04:16
*/
.mod-map-nav,
.mod-alter-nav{
    position: absolute;
    left:0;

    &:hover{
        z-index: 10000;
    }

    .iwjw-logo{
        display:inline-block;
        width: 32px;
        height: 32px;
        margin-top: 12px;
        margin-left: 16px;
        overflow:hidden;
        vertical-align: top;
        img{
            width: 32px;
            height: 32px;
        }
    }
    .alter-box{
        position:relative;
        display:inline-block;
        margin-top: 16px;
        padding:0 15px 10px 5px;
        padding-left: 8px;
        padding-bottom: 10px;
        vertical-align: top;
        cursor:pointer;
        span{
            font-size: 16px;
        }
        &:hover .alter-down-list{
            display:block;
        }
    }
    .alter-header{
        position:relative;
        .iconfont{
            font-size: 12px;
            margin-left: 2px;
        }
    }
    .alter-down-list{
        display:none;
        position:absolute;
        top:34px;
        left:50%;
        padding-bottom: 16px;
        padding-top: 8px;
        margin-left:-80px;
        width: 160px;
        .list-item{
            position:relative;
            width: 160px;
            height: 40px;
            line-height: 40px;
            border-top:1px solid #F7F7F7;
            color:#757575;
            a{
                display:block;
                padding-left: 16px;
                &:hover{
                    text-decoration: none;
                }
            }
            &:first-child{
                border-top:none;
            }
            &:hover span{
                color:#e84a01;
            }
            &:hover a{
                background-color: #F7F7F7
            }
            .iconfont{
                font-size: 12px;
            }
        }
        .alter-city{
            width: 108px;
            padding-left: 10px;
            padding-right: 10px;
            height: 32px;
            line-height: 32px;
            border:1px solid #DEDEDE;
            margin-left: 16px;
            margin-top: 8px;
            cursor: pointer;
            &:hover{
                color:#e84a01;
            }
        }
    }
}
