/*
* @Author: zhuxy
* @Date:   2016-01-12 14:20:53
* @Last Modified by:   yuqy
* @Last Modified time: 2016-05-31 13:12:34
*/
.city-dialog {
    .dialog-title {
        margin-bottom: 50px;
    }
}

.city-list {
    padding-bottom: 50px;
    .city-item {
        position: relative;
        float: left;
        border: 1px solid #DEDEDE;
        margin-left: 16px;
        margin-bottom: 24px;
        .item-wrap{
            width:70px;
            height:38px;
            border: 1px solid transparent;
        }
        &:hover {
            // border: 2px solid #bdbdbd;
            // margin: -1px -1px 23px 15px;//防止hover时border增加盒子宽高以致有动一下的效果
            border-color: #bdbdbd;
            .iconfont{
                display: block;
                color: #bdbdbd;
            }
            .item-wrap{
                border-color:#bdbdbd;
            }
        }
        &.active {
            // border: 2px solid #E84A01;
            border-color: #e84a01;
            // margin: -1px -1px 23px 15px;
            .iconfont {
                display: block;
                color: #e84a01;
            }
            .item-wrap{
                border-color: #e84a01;
            }
        }
        a {
            width: 72px;
            height: 40px;
            line-height: 40px;
            display: block;
            text-align: center;
            font-size: 16px;
            color: #212121;
            &:hover {
                text-decoration: none;
            }
        }
        .iconfont {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 18px;
            height: 18px;
            line-height: 18px;
            color: #E84A01;
            font-size: 18px;
            display: none;
        }
    }
    
}