.mod-dialog-masklayer,
.mod-dialog-masklayer-iframe {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 20000;
    display: none;
    background: #000;
    filter: alpha(opacity=50);
}

.mod-dialog-masklayer-iframe {
    width: 100%;
    height: 100%;
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 1001;
}

.mod-dialog {
    position: fixed;
    z-index: 20001;
    top: 0;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .5);
    border: 1px solid #d1d1d1 \0;
}

.mod-dialog.dialog-transparent{
    background-color: transparent;
    box-shadow: none;
}

.mod-dialog .dialog-title {
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 32px;
    text-align: center;
}

.mod-dialog .dialog-close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    background: url(dialog.png) 0 0;
    width: 21px;
    height: 23px;
    z-index: 1;
}

.mod-dialog .dialog-close:hover {
    background-position: 0 -40px;
}

.mod-dialog .dialog-content {
    background-color: #fff;
    min-height: 50px;
}

.mod-dialog.dialog-transparent .dialog-content{
    background-color: transparent;
}

.mod-dialog .dialog-footer {
    margin: 32px 48px;
}

.mod-dialog.dialog-alert .dialog-footer,
.mod-dialog.dialog-confirm .dialog-footer {
    margin: 32px;
}

.mod-dialog .dialog-ok,
.mod-dialog .dialog-cancel {
    float: left;
    width: 45%;
    height: 42px;
    border: 1px solid transparent;
    border-radius: 2px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.mod-dialog .dialog-ok {
    background-color: #e84a01;
    border-color: #e84a01;
}
.mod-dialog .dialog-ok:hover{
    background-color: #f16d2f;
    text-decoration: none;
}

.mod-dialog .dialog-cancel {
    border-color: #dedede;
    color: #757575;
    float: right;
}

.mod-dialog .footer-alert .dialog-ok {
    width: 100%;
    border: 0;
}

.mod-dialog.dialog-confirm .dialog-content,
.mod-dialog.dialog-alert .dialog-content {
    padding: 40px 32px 0;
    font-size: 20px;
}

.mod-dialog .success-bg {
    width: 72px;
    height: 72px;
    background: url(dialog.png) -40px 0;
    margin: 0 auto 20px;
}

.mod-dialog .success-txt {
    font-size: 20px;
    text-align: center;
}

.mod-dialog .delete-bg {
    width: 72px;
    height: 72px;
    background: url(dialog.png) -120px 0;
    margin: 0 auto 20px;
}

.mod-dialog .delete-txt {
    font-size: 20px;
    text-align: center;
}

.mod-dialog .dialog-ok.delete-btn {
    background-color: #fff;
    border-color: #dedede;
    color: #757575;
}
.mod-dialog .delete-btn:hover,.mod-dialog .dialog-cancel:hover{
    border: 1px solid #212121;
    color: #212121;
}

/**移动端弹层样式**/
.dialog-mobile {
    font-size: .16rem;
    background-color: #fff;
    border-radius: 2px;
    font-size: .16rem;
    text-align: center;
    border: 1px solid #f5f5f5;
}

.dialog-mobile .dialog-title {
    height: .41rem;
    line-height: .41rem;
    border-bottom: 1px solid #f5f5f5;
}

.dialog-mobile .dialog-title .title {
    height: .41rem;
    line-height: .41rem;
    font-size: .16rem;
}

.dialog-mobile .dialog-footer {
    height: auto;
    padding: 0;
    background-color: transparent;
    border-top: 1px solid #f5f5f5;
}

.dialog-mobile .dialog-footer .cancel,
.dialog-mobile .dialog-footer .ok {
    border: none;
    font-size: .16rem;
    width: 50%;
    height: .37rem;
    line-height: .37rem;
    background-color: #fff;
    margin: 0;
    border: none;
    color: #333;
}

.dialog-mobile .dialog-footer .ok {
    box-shadow: inset 1px 0 0 0 #f5f5f5;
}
