/**
  * 可以复用的sass类 维护者:huangxiaogang
  * !!变量名字请勿随便修改!!
  * 涉及使用的列表:
  * newhouse/detail
  * newhouselist
  * index
  */
@import '../../sass/module/discount.scss';
@mixin border-radius($radius){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
@mixin box-shadow($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
a,a:active,a:visited,a:hover{
  text-decoration: none;
}
$purple: #7e55c8;
$orange: #ee4d00;
$purple-i:#6c48ae;
$purple-red:#FF001F;

$f2-bg:#f2f2f2;
$d8-color:#d8d8d8;

$color-ff001f:#FF001F;
$color-e8: #e84a01;
$color-21:#212121;
$color-f7:#f7f7f7;
$color-75:#757575;
$color-61:#616161;
$color-bd:#bdbdbd;
$color-e6:#e6e6e6;
