/*
* @Author: wangnani
* @Date:   2016-06-18 01:55:24
* @Last Modified by:   wangnani
* @Last Modified time: 2016-06-20 11:10:25
*/

.dh-estate-name {
    display: none;
}

.dh-sum-list {
    margin-top: 20px;
    .dh-lr {
        text-align: right;
        font-size: 14px;
        color: #757575;
        padding-right: 35px;
        margin-top: 6px;
        cursor: pointer;
        &.active {
            color: #ee4d00;
        }
        &:first-child {
            margin-top: 0px;
        }
    }
    .dark-0 {
        cursor: default;
        color: #dedede;
    }
}


/*.dh-sum-list>li {
    text-align: right;
    font-size: 14px;
    color: #757575;
    padding-right: 35px;
    margin-top: 6px;
    cursor: pointer;
}

.dh-sum-list>li.active {
    color: #ee4d00;
}

.dh-sum-list>li:first-child {
    margin-top: 0px;
}

.dh-sum-list .dark-0 {
    cursor: default;
    color: #dedede;
}
*/
