/*
* @Author: wangnani
* @Date:   2016-06-18 21:55:12
* @Last Modified by:   wangnani
* @Last Modified time: 2016-06-24 10:52:58
*/

.infos-mods {
    background: #fff;
    position: relative;
    min-height: 170px;
}

.deal-list-title {
    height: 40px;
    line-height: 30px;
    .detail-h2 {
        float: left;
        font-size: 20px;
        color: #212121;
    }
    .show-more {
        float: right;
        a {
            font-size: 16px;
            color: #212121;
        }
    }
}

.table-deal-history {
    table-layout: fixed;
    tbody {
        tr {
            height: 43px;
            border-bottom: 1px solid #f7f7f7;
            &:first-child {
                border-top: 1px solid #f7f7f7;
            }
        }
    }
    td {
        font-size: 16px;
        color: #212121;
    }
    th {
        font-size: 16px;
        line-height: 18px;
        vertical-align: top;
        color: #757575;
        font-weight: 400;
        padding-bottom: 12px;
    }
    em {
        font-size: 16px;
    }
    .deal-cell {
        text-align: right;
    }
    .deal-head {
        text-align: right;
    }
    .deal-house-style {
        padding-left: 30px;
    }
    .highlight {
        color: #ee4d00;
        font-size: 20px;
    }
    .h-area {
        padding-right: 55px;
    }
    .h-floor {
        text-align: left;
        padding-left: 40px;
    }
    .head-saleorrent {
        padding-right: 25px;
    }
}

.check-more-detail {
    text-align: right;
    font-size: 14px;
    color: #212121;
    padding-top: 12px;
    line-height: 16px;
}

.nodata-content {
    .h-nodata-title {
        height: 100px;
        line-height: 100px;
        vertical-align: middle;
        color: #757575;
        font-size: 18px;
        .if-search-result {
            margin-right: 5px;
            font-size: 48px;
            color: #dedede;
        }
    }
}
