<div class="deal-list-title hide">
    <div class="detail-h2">{{data.title}}<!-- <span class="total-nums">({{data.total}})</span> -->
    </div>
    <div class="show-more"><a href="/estate/history/{{data.houseData.estateId}}/{{data.houseData.houseType}}/{{data.houseData.r}}" target="_blank">查看全部{{data.total}}条&gt;&gt;</a>
    </div>
</div>
<div class="deal-list-section">
    <div class="infos-mods j-history-info">
    <!-- 渲染数据列表 -->
    </div>
    
    <!-- 成交历史落地页 -->
    <div class="history-loadmore hide">
        查看更多
    </div>
</div>
