{{if type=="havedata"}}
<table class="table-deal-history">
    {{if page <= 2}}<thead>{{/if}}
    {{if page > 2}}<thead class="hide">{{/if}}
        <tr>
            <th>签约时间</th>
            <th class="deal-house-style">房屋户型</th>
            <th class="deal-head h-area">面积</th>
            <th class="deal-head h-floor">楼层</th>
            <th class="deal-head head-saleorrent">{{if data.houseType == 1}}装修{{/if}}{{if data.houseType == 2}}成交单价{{/if}}</th>
            <th class="deal-head h-price">成交价</th>
        </tr>
    </thead>
    <tbody class="deal-list-wrap">
    {{each data.data as item index}}
    {{if item.isHide}}<tr class="hide">{{else}}<tr>{{/if}}
    <td>{{item.contract || '-'}}</td>
    <td class="deal-house-style">{{item.bedroomSum}} 室 {{item.livingRoomSum}} 厅</td>
    <td class="deal-cell h-area">{{item.spaceArea || '-'}} m²</td>
    <td class="deal-cell h-floor">{{item.floorStr || '-'}}</td>
    <td class="deal-cell head-saleorrent">{{if item.houseType == 1}}{{item.decorateString || "—"}}{{/if}}{{if item.houseType == 2}}{{item.unitPrice || "—"}}{{/if}}</td>
    <td class="deal-cell h-price"><span class="highlight">{{item.price  || '-'}}<em>{{if item.houseType == 2}} 万{{else}} 元/月{{/if}}</em></span></td>
</tr>
{{/each}}
    </tbody>
</table>
<div class="check-more-detail hide"><a class="dh-more-a" href="/estate/history/{{data.estateId}}/{{data.houseType}}/{{data.r}}" target="_blank">查看全部{{data.total}}条&gt;&gt;</a></div>

{{/if}}
{{if type=="nodata"}}
<div class="nodata-content">
    <div class="h-nodata h-nodata-title">
        <i class="iconfont if-search-result"></i> 暂无{{data}}成交记录
    </div>
</div>
{{/if}}    

