<h2 class="detail-h2">{{data.title}}</h2>
<div class="dh-estate-name">{{data.estateName}}</div>
<ul class="dh-sum-list" data-sum="{{data.total}}">
    <li class="dh-lr dark-{{data.total}}" data-sum="{{data.total}}" data-r="0">全部{{data.v_total}}</li>
    <li class="dh-lr dark-{{data.r1}}" data-sum="{{data.r1}}" data-r="1">一室{{data.v_r1}}</li>
    <li class="dh-lr dark-{{data.r2}}" data-sum="{{data.r2}}" data-r="2">二室{{data.v_r2}}</li>
    <li class="dh-lr dark-{{data.r3}}" data-sum="{{data.r3}}" data-r="3">三室{{data.v_r3}}</li>
    <li class="dh-lr dark-{{data.r4}}" data-sum="{{data.r4}}" data-r="4">四室及以上{{data.v_r4}}</li>
</ul>
