//关注房源
.h-follow-unfollow {
  //width: 100px;
  color: #4a4a4a;
  display: inline-block;
  position: relative;
  //color: #757575;
  //position: absolute;
  //right: 0;
  //bottom: 20px;
  &:hover {
    text-decoration: none;
  }
  .iconfont {
    margin-right: 4px;
    display: inline-block;
    position: relative;
    top: -2px;
    &.if-heart {
      color: #e84a01;
    }
  }
}

.follow-success-wrap {
  .estate-follow {
    .iconfont {
      margin-right: 4px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
