/* 
* @Author: vavid
* @Date:   2015-11-25 15:25:14
* @Last Modified by:   zhuxy
* @Last Modified time: 2016-03-23 15:04:35
*/

.layout {
    width: 1190px;
    margin: 32px auto 68px;
    position: relative;
    /*我的XX页面左侧导航最小高度*/
    min-height: 486px;
}

.iwjw-left {
    position: absolute;
    width: 224px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    background: #fff;
}

.iwjw-left.nav-fixed {
    position: fixed;
    top: 12px;
    z-index: 999;
}

.iwjw-left.nav-abs {
    bottom: 0;
    top: auto;
}

.iwjw-right {
    margin-left: 240px;
    width: 950px;
}

.mod-nav {
    position: relative;
    z-index: 0;
    padding: 16px 0px;
}

.mod-nav .nav-label {
    position: absolute;
    top: 16px;
    left: 0px;
    z-index: -1;
    width: 222px;
    height: 64px;
    border-left: 2px solid #ee4d00;
    /*display: none;*/
    background-color: #fafafa;
    transition: top 0.2s;
    /*-moz-transition: top 0.2s;*/
    /* Firefox 4 */
    /*-webkit-transition: top 0.2s;*/
    /* Safari 和 Chrome */
    /*-o-transition: top 0.2s;*/
    /* Opera */
}

.mod-nav .nav-menu {
    margin: 0px 0px 0px 2px;
    padding: 0px;
    width: 222px;
    overflow-x: hidden;
}

.left-nav-item {
    position: relative;
    list-style: none;
    /*float: left;*/
    height: 64px;
    /*width: 100%;*/
    border-top: 1px solid #f7f7f7;
}

.left-nav-item:first-child {
    border-top: none;
}

.left-nav-a {
    position: relative;
    /*float: left;*/
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    line-height: 62px;
    padding-left: 64px;
    display: block;
    /*width: 155px;*/
}

.left-nav-icon {
    position: absolute;
    font-size:17px;
    margin-left: -28px;
}

.active .left-nav-a,
.active .left-nav-icon,
.active .left-nav-icon:before,
.left-nav-a:hover,
.left-nav-a:hover .left-nav-icon,
.left-nav-a:hover .left-nav-icon:before {
    color: #e84a01;
}

.left-nav-a:hover {
    text-decoration: none;
}
.left-nav-item.complaint-active{
    background-color: #fff;
}
.left-nav-item.complaint-active .left-nav-a,
.left-nav-item.complaint-active .left-nav-icon{
    color:#212121;
}
